.header {
  width: 100%;
  background-color: none;
  height: 100px;
}

.nav {
  width: 100%;
  padding: 2rem 0;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--darkGray);
  gap: 1rem;
  font-weight: 800;
}

/* body.dark-theme .logo {
  color: var(--light);
} */

.logo-icon {
  font-size: 35px;
  display: flex;
}

.font-picker {
  margin-right: 2rem;
}

.font-picker select::after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.font-picker select option {
  font-weight: 500;
}
